*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/alkalmazas_fejlesztes_bead/target/
adatbazis/db.lck
adatbazis/log/log1.dat
adatbazis/seg0/c10.dat
adatbazis/seg0/c101.dat
adatbazis/seg0/c111.dat
adatbazis/seg0/c121.dat
adatbazis/seg0/c130.dat
adatbazis/seg0/c141.dat
adatbazis/seg0/c150.dat
adatbazis/seg0/c161.dat
adatbazis/seg0/c171.dat
adatbazis/seg0/c180.dat
adatbazis/seg0/c191.dat
adatbazis/seg0/c1a1.dat
adatbazis/seg0/c1b1.dat
adatbazis/seg0/c20.dat
adatbazis/seg0/c200.dat
adatbazis/seg0/c211.dat
adatbazis/seg0/c221.dat
adatbazis/seg0/c230.dat
adatbazis/seg0/c241.dat
adatbazis/seg0/c251.dat
adatbazis/seg0/c290.dat
adatbazis/seg0/c2c1.dat
adatbazis/seg0/c2d0.dat
adatbazis/seg0/c2e1.dat
adatbazis/seg0/c2f0.dat
adatbazis/seg0/c31.dat
adatbazis/seg0/c41.dat
adatbazis/seg0/c51.dat
adatbazis/seg0/c60.dat
adatbazis/seg0/c71.dat
adatbazis/seg0/c730.dat
adatbazis/seg0/c741.dat
adatbazis/seg0/c750.dat
adatbazis/seg0/c761.dat
adatbazis/seg0/c770.dat
adatbazis/seg0/c781.dat
adatbazis/seg0/c790.dat
adatbazis/seg0/c7a1.dat
adatbazis/seg0/c7b0.dat
adatbazis/seg0/c7c1.dat
adatbazis/seg0/c7d0.dat
adatbazis/seg0/c7e1.dat
adatbazis/seg0/c7f1.dat
adatbazis/seg0/c801.dat
adatbazis/seg0/c81.dat
adatbazis/seg0/c811.dat
adatbazis/seg0/c821.dat
adatbazis/seg0/c831.dat
adatbazis/seg0/c840.dat
adatbazis/seg0/c851.dat
adatbazis/seg0/c90.dat
adatbazis/seg0/ca1.dat
adatbazis/seg0/cb1.dat
adatbazis/seg0/cc0.dat
adatbazis/seg0/cd1.dat
adatbazis/seg0/ce1.dat
adatbazis/seg0/cf0.dat
derby.log
payara41/
